:root{
    --text-dark:#3D4D5C;
    --text-light:#ffffff;
    --accent-blue:#01294D;
    --bg-gray:#F9FAFB;
    --gray-200:#C2CDD6;
    --red-100:#FFF0F1;
    --btn-primary:#1264A0;
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden !important;
    max-height: 100dvh;
}

html{
    scroll-behavior: smooth;
    padding: 0px;
}

.bg-gray{
    background-color: var(--bg-gray) !important;
}

.btn-primary{
  background-color: var(--btn-primary) !important;
  color: white;
}

input [type="checkbox"],input[type="radio"]{
  accent-color: var(--accent-blue) !important;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important; 
  border-color: #ccc !important;
}




.scrollbar-none {
    -ms-overflow-y-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none;             /* Chrome/Safari */
  }
  
  .c-pointer{
    cursor: pointer;
  }

/* flex */

.fs-7{
    font-size: 14px;
}

.fs-8{
    font-size: 12px;
}

/* Header  Navbar */

nav{
    height: 60px !important;
    
}

.nav-link{
    color:var(--text-dark) !important ;
}

.navbar-toggler{
    padding: 0;
    border: none;
}

.nav-item{
    min-width: 62px !important;
}

.nav-item img, .map-item img{
    width: 24px !important;
    height: 24px !important;
}

.nav-item.active, .map-item.active{
    background-color: #01294D;
    border-radius: 0.5rem;
}

.nav-item.active .nav-link,.map-item.active{
    color:var(--text-light) !important ;
}

.dropdown-menu{
    border-radius: 1rem;
    border: 2px solid var(--accent-blue);
}

.custom-arrow.dropdown-toggle::after {
    display: none !important;
  }
  

.custom-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .custom-arrow::after{
    display: none;
  }
  
  

.col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:992px) {
    .nav-link p{
        font-weight: medium !important;
        font-size: 12px !important;
    }
}

.full-h-dropdown{
  min-height: 75vh;
  max-height: 85vh;
  height: 100%;
  overflow-y: auto;
}
  
  

@media (max-width: 992px) {
    .custom-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      width: 320px;          /* dropdown width */
      background: #fafafa;
      padding: 10px 0;
      border-bottom-left-radius: 10px;
    }
  
    .custom-dropdown.show {
      display: block !important; /* override Bootstrap collapse */
    }
  
    .navbar-nav .nav-link {
      padding: 10px 20px;
    }
  }
  

  /* Main Content */

  .vh-100-60px{
    height: calc(100vh - 60px);
  }

 


  /* Data table styling */

  .dt-search{
    padding: 0 8px;
    
  }
  

  .dt-search label{
    display: none;
  }

  .dt-input{
    width: 100%;
    outline: none;
    box-shadow: none;
    border-radius: 0.5rem;
    border: 1px solid #C2CDD6;
    padding: 0 0.5rem;
    margin-bottom: 8px;
    height: 32px;
  }

  .dt-length{
    display: none;
  }

  .location.active:active{
    text-decoration: underline;
  }

  #tableBody{
    height: 100% !important;
    overflow-y: auto;
}

#leftWrapper {
  max-height: calc(100vh - 60px);      /* your desired body height */
  overflow-y: auto;
  overflow-x: auto;
}



#myTable thead th {
  position: sticky;
  top: 0;
  background: #fff;       /* or your table header color */
  z-index: 10;
}

td.active-underline:hover{
  text-decoration: dashed !important;
}



.dataTables_scrollBody {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  max-height: calc(100vh - 120px); /* adjust if header size changes */
}

 /* Drag functionality classes */



 .drag-icon{
    position: absolute;
    right:-20px;
    top: 12px;
    transform: translateY(-50%);
    background: white;
    padding: 2px 2px;
    cursor: ew-resize;
    width: fit-content;
    z-index: 100;
  }

  .drag-icon:hover {
    background: #d5d5d5;
  }
  

  .custom-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  #split__left {
    min-width: 27%;
    max-width: 38%;
    height: calc(100vh - 60px);
    @media  (max-width: 1198px) {
      max-width: 30%;
    }
    background-color: white;
  }

  @media (max-width: 1024px) {
    #split__left {
      max-width: 60%;
      min-width:40%;
    }
  }
  
  #split__right {
    flex: 1;
  }

  .top-4{
    top: 16px;
  }

  .end-4{
    right: 16px;
  }


  .col-grow{
    width: auto;
  }



  /* Milwaukee CSS */


  .bg-red-100{
    background-color: var(--red-100);
  }

  .border-gray-200{
    border: 1px solid var(--gray-200);
  }

  .form-control:focus{
    border: 1px solid #dee2e6;
  }

  .search-sort{
    position: sticky;
  top: 0;
  background:var(--bg-gray); 
  z-index: 10;
  }


  /* Max-w-classes */

  .max-w-150{
    max-width: 150px !important;
    width: 100%;
  }

  .text-accent-blue{
    color: var(--accent-blue);
  }

.max-w-120{
  max-width: 120px !important;
  width: 100%;
}

#container{
  overflow-x: auto;
}

/* Popover modal Styling */

/* .bus-card {
  cursor: pointer;
  transition: background 0.2s ease;
} */

.bus-card.selected-card {
  background: #f1f1f1 !important;
}

.bus-popover {
  max-width: 500px;
  width: 100%;
}

.bus-popover .popover-body {
  font-size: 14px;
}

.z-100{
  z-index: 1000;
}

/* Nested Dropdown classes */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
}

.dropdown-submenu .submenu.show {
  display: block;
}

.submenu-arrow {
  width: 14px;
  height: 14px;
  float: right;
}


.card-active {
  background: #f1f1f1 !important;
}


.wide-popover {
  min-width: 500px;
  max-width: 600px !important;
  width: 100%;
}

.wide-popover .popover-body {
  width: 100%;
}

.wide-popover input{
  width: 80px !important;
}