:root{
    --text-dark:#3D4D5C;
    --text-light:#ffffff;
    --accent-blue:#01294D;
    --bg-gray:#F9FAFB;
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden !important;
    max-height: 100dvh;
}

html{
    scroll-behavior: smooth;
    padding: 0px;
}

.bg-gray{
    background-color: var(--bg-gray) !important;
}



.scrollbar-none {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none;             /* Chrome/Safari */
  }
  

/* flex */

.fs-7{
    font-size: 14px;
}

.fs-8{
    font-size: 12px;
}

/* Header  Navbar */

nav{
    height: 60px !important;
    
}

.nav-link{
    color:var(--text-dark) !important ;
}

.navbar-toggler{
    padding: 0;
    border: none;
}

.nav-item{
    min-width: 62px !important;
}

.nav-item img{
    width: 24px !important;
    height: 24px !important;
}

.nav-item.active{
    background-color: #01294D;
    border-radius: 0.5rem;
}

.nav-item.active .nav-link{
    color:var(--text-light) !important ;
}

.dropdown-menu{
    border-radius: 1rem;
    border: 2px solid var(--accent-blue);
}

.custom-arrow.dropdown-toggle::after {
    display: none !important;
  }
  

.custom-arrow{
    display: flex;
    justify-content: space-between;
}

  .custom-arrow::after{
    display: none;
  }
  
  

.col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:992px) {
    .nav-link p{
        font-weight: medium !important;
        font-size: 12px !important;
    }
}

  
  

@media (max-width: 992px) {
    .custom-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      width: 320px;          /* dropdown width */
      background: #fafafa;
      padding: 10px 0;
      border-bottom-left-radius: 10px;
    }
  
    .custom-dropdown.show {
      display: block !important; /* override Bootstrap collapse */
    }
  
    .navbar-nav .nav-link {
      padding: 10px 20px;
    }
  }
  

  /* Main Content */

  .vh-100-60px{
    height: calc(100vh - 60px);
  }

  /* Drag functionality classes */



  .drag-icon{
    position: absolute;
  right:-20px;
  top: 12px;
  transform: translateY(-50%);
  background: white;
  padding: 2px 2px;
  cursor: ew-resize;
  width: fit-content;
  }

  .drag-icon:hover {
    background: #d5d5d5;
  }
  


  /* Data table styling */

  .dt-search{
    padding: 0 8px;
  }

  .dt-search label{
    display: none;
  }

  .dt-input{
    width: 100%;
    outline: none;
    box-shadow: none;
    border-radius: 0.5rem;
    border: 1px solid #C2CDD6;
    padding: 0 0.5rem;
  }

  .dt-length{
    display: none;
  }

  .table-responsive{
    max-height: calc(100% - 122px);
    overflow-y: auto;
}

  .custom-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .split__left {
    min-width: 27%;
    max-width: 50%;
    @media  (max-width: 1198px) {
      max-width: 30%;
    }
    background-color: white;
  }
  
  .split__right {
    flex: 1;
  }

  .top-4{
    top: 16px;
  }

  .end-4{
    right: 16px;
  }
